.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  .background {
    position: absolute;
    z-index: -10;
    height: 100vh;
    right: 0;
    mask-image: linear-gradient(
      transparent,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0),
      rgba(0, 0, 0, 0.5),
      transparent
    );
  }
  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3rem;
    .title {
      height: auto;
      width: fit-content;
      padding: 30px 100px;
      font-family: "BRLNSDB", sans-serif;
      font-size: 30px;
      color: white;
      border: none;
      background: url(/src/assets/image/frames/About-frame1.png) no-repeat
        center center;
      background-size: 210px 50px;
      font-weight: bold;
    }
    .content {
      max-width: 800px;
      background: url(/src/assets/image/frames/About-frame2.webp) no-repeat
        center center;
      background-size: cover;
      transform: translateX(43px);
      padding: 58px;
      & p {
        max-width: 800px;
        font-weight: 400;
      }
    }
  }
}
