.ImageSlider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Images {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middleImage {
  width: 250px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0px 0px 30px 1px;
  border: 1px solid white;
}
.rightImage {
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
  transform: translateX(40px);
  z-index: -9;
  filter: blur(3px) saturate(0.5);
}
.leftImage {
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
  transform: translateX(-40px);
  z-index: -9;
  filter: blur(3px) saturate(0.5);
}
.buttons {
  display: flex;
  gap: 15px;
  transform: translateY(-50px);
}
.btn {
  border: none;
  filter: none;
  transition: all 0.1s linear;
}
.btn:hover {
  filter: drop-shadow(0 0 10px white);
  border: none;
}

.rightButton {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    border: none;
  }
}
.leftButton {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    border: none;
  }
}

.dots {
  height: 5px;
  width: 5px;
  border: 1px solid black;
  border-radius: 100%;
}
.dots.active {
  height: 5px;
  width: 5px;
  background-color: black;
  border: 1px solid black;
  border-radius: 100%;
}
.dots.passive {
  height: 5px;
  width: 5px;
  border: 1px solid black;
  border-radius: 100%;
}
.dotsPlace {
  display: flex;
  gap: 10px;
}
