.back-half {
  width: 100%;
  height: 100%;
  animation: opa-half 15s linear;
}

.back-full {
  width: 100%;
  height: 100%;
  animation: opa 15s infinite linear;
}
@keyframes opa {
  0% {
    filter: brightness(0.5);
  }
  8.5% {
    filter: brightness(1);
  }
  91.5% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0.5);
  }
}

@keyframes opa-half {
  0% {
    filter: brightness(1);
  }
  91.5% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0.5);
  }
}
